.button {
    -fx-font-size: 20;
    -fx-pref-width: 300;
    -fx-pref-height: 50;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-focus-traversable: false;
}

.color-picker {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-radius: 50;
    -fx-focus-traversable: false;
    -fx-color-label-visible: false;
}

.color-picker .color-picker-label .picker-color .picker-color-rect {
    -fx-stroke: null;
    -fx-fill : null;
}

.text-field {
    -fx-font-size: 20;
    -fx-pref-width: 300;
    -fx-pref-height: 50;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-focus-traversable: false;
}